/* Basisinstellingen */

* {
    overflow: auto;
    box-sizing: border-box;
    border: 2px solid rgb(221, 26, 26);
    
    
}

/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    color: #000000;
    font: Verdana, Arial, Sans-Serif;
    background-image: url(afbeeldingen/tree2.jpg);
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
    
}


article {
    text-align: center;
    background-color: rgb(204, 219, 237);

}


header {
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(204, 219, 237);
}


footer {
    text-align: center;
    padding-bottom: 10px;
    background-color: rgb(204, 219, 237);
}

/* index layout */

.rij {

}

.bredeTekst {
}

.plaatjeLinks {
    float: left;
    width: 200px;
    margin: 15px; 
}



/* Nederlandse layout*/

.plaatjeRechts {
    float: right;
    width: 50%;
    margin-top: 20px;
}

.tekstRechts {
    float: right;
    position: relative;
    width: 45%;
    float: right;
    
 }
 
 #animi {
    float: right;
    margin-bottom: 50px ;
    width: 220px;
    margin-left: 30px;
 }
 
/* Italiaanse layout */

.plaatjeRechts2 {
    width: 50%;
    float: right;
    margin-top: 15px;

}


.tekstRechts2 {
    width: 45%;
    float: left;
    
}

.tekstLinks {
    width: 45%;
    float: left;
}

.tekstRaar {
    width: 65%;
    float: right;
}





/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
    width: 250px;
}

#banana-fish-pic {
    width:250px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(156, 212, 214);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: rgb(145, 169, 199);
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #e4cf57;
}

nav li a.active {
    background-color: #e4cf57;
}


 #hoofdtitel {
     font-family: cursive; 
 }

.Italitekst {
    
}

